<div class="container">
    <div class="jumbotron">

        <h1>Devour This Burger!</h1>

        <p>Manage eating burgers with this app</p>
    </div>
</div>

<!-- Pass in data from server.js -->
<ul>
    {{#each burger_name}}
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">Burger Type:</span> {{this.burger_name}}</p>
        <p><span class="label">Eaten?</span> {{this.devoured}}</p>

        <button data-id="{{this.id}}" class="delquote">Delete</button>

        <a href="/{{this.id}}">Update this Burger</a>
    </li>
    {{/each}}
</ul>




<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Add Your Own Burger</h5>
        <p class="card-text">
            <form class="create-form">

                <div class="form-group">
                    <label for="burg">Burger:</label>
                    <input type="text" id="burg" name="burger">
                </div>

                <div class="form-group">
                    <label for="dev">Eaten:</label>
                    <input type="text" id="dev" name="devoured">
                </div>

                <button type="submit" class="btn btn-primary">Add a Burger</button>
            </form>
        </p>
       
    </div>
</div>